        {{#isNonNullAnnotationUsed}}
        @Nonnull
        {{/isNonNullAnnotationUsed}}
        public Builder {{name}}({{> parameter}}) {
            this.{{name}} = {{name}};
            return this;
        }
