{{#isNonNullAnnotationUsed}}
@Nonnull
{{/isNonNullAnnotationUsed}}
public static Builder {{#doesUseClassNameAsFactoryMethod}}{{classNameInCamelCase}}{{/doesUseClassNameAsFactoryMethod}}{{^doesUseClassNameAsFactoryMethod}}builder{{/doesUseClassNameAsFactoryMethod}}() {
    return new Builder();
}
