{{#isRequired}}{{#isRequireNonNullUsed}}requireNonNull({{name}}, "{{name}}"){{/isRequireNonNullUsed}}{{#isCheckRequiredUsed}}checkRequired("{{name}}", {{name}}){{/isCheckRequiredUsed}}{{/isRequired}}{{^isRequired}}{{name}}{{/isRequired}}