    {{#withJson}}
    @JsonProperty("{{name}}")
    {{/withJson}}
    {{#isNonNullAnnotationUsed}}{{> null_annotation}}{{/isNonNullAnnotationUsed}}
    public {{type}} {{#isGetPropertyWithPrefix}}get{{nameInPascalCase}}{{/isGetPropertyWithPrefix}}{{^isGetPropertyWithPrefix}}{{name}}{{/isGetPropertyWithPrefix}}() {
        return {{name}};
    }
