    {{#isNonNullAnnotationUsed}}
    @Nonnull
    {{/isNonNullAnnotationUsed}}
    @Override
    public String toString() {
        return "{{className}}{" +
        {{#fields}}
            "{{^isFirst}}, {{/isFirst}}{{name}}={{#isString}}'{{/isString}}" + {{name}} +{{#isString}} '\'' +{{/isString}}
        {{/fields}}
            '}';
    }
